  <section id="search" class="search-wrap">
    <h1>Find A Thing</h1>
    <form action="catalogs/search" method="GET" class="search-form">
      <i class="fas fa-search"></i>
      <input type="search" name="term" placeholder="Label for the thing">
      <input type="submit" value="Search">
    </form>
  </section>